# IDEA
.idea
*iml
.DS_Store

# gradle
.gradle
build

# log
logs
consensus-logs

# lombok
out

# levelDB
tron-data
database*

# database
database

# doc
doc

# gossip
pernodedata.*
ringstate.*
shareddata.*

# svn
.svn

# protobuf generated classes
src/main/gen

src/main/java/org/tron/core/bftconsensus
src/test/java/org/tron/consensus2
src/main/java/META-INF/
src/main/resources/META-INF/
/bin/

# Eclipse IDE specific files and folders
/.project
/.classpath
/.settings/
/.apt_generated/

# output directory
/output-directory/

