---
swagger: "2.0"
info:
  version: "version not set"
  title: "examples/internal/proto/examplepb/response_body_service.proto"
tags:
- name: "ResponseBodyService"
consumes:
- "application/json"
produces:
- "application/json"
paths:
  /responsebodies/{data}:
    get:
      tags:
      - "ResponseBodyService"
      operationId: "ResponseBodyService_ListResponseBodies"
      parameters:
      - name: "data"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Data"
      responses:
        200:
          description: ""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/examplepbRepeatedResponseBodyOutResponse"
        default:
          description: "An unexpected error response."
          schema:
            $ref: "#/definitions/rpcStatus"
  /responsebody/stream/{data}:
    get:
      tags:
      - "ResponseBodyService"
      operationId: "ResponseBodyService_GetResponseBodyStream"
      parameters:
      - name: "data"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Data"
      responses:
        200:
          description: "(streaming responses)"
          schema:
            type: "object"
            properties:
              result:
                $ref: "#/definitions/examplepbResponseBodyOutResponse"
              error:
                $ref: "#/definitions/rpcStatus"
            title: "Stream result of examplepbResponseBodyOut"
        default:
          description: "An unexpected error response."
          schema:
            $ref: "#/definitions/rpcStatus"
  /responsebody/{data}:
    get:
      tags:
      - "ResponseBodyService"
      operationId: "ResponseBodyService_GetResponseBody"
      parameters:
      - name: "data"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Data"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/examplepbResponseBodyOutResponse"
        default:
          description: "An unexpected error response."
          schema:
            $ref: "#/definitions/rpcStatus"
  /responsestrings/{data}:
    get:
      tags:
      - "ResponseBodyService"
      operationId: "ResponseBodyService_ListResponseStrings"
      parameters:
      - name: "data"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Data"
      responses:
        200:
          description: ""
          schema:
            type: "array"
            items:
              type: "string"
        default:
          description: "An unexpected error response."
          schema:
            $ref: "#/definitions/rpcStatus"
definitions:
  ResponseResponseType:
    type: "string"
    title: "- UNKNOWN: UNKNOWN\n - A: A is 1\n - B: B is 2"
    enum:
    - "UNKNOWN"
    - "A"
    - "B"
    default: "UNKNOWN"
  examplepbRepeatedResponseBodyOut:
    type: "object"
    properties:
      response:
        type: "array"
        items:
          $ref: "#/definitions/examplepbRepeatedResponseBodyOutResponse"
  examplepbRepeatedResponseBodyOutResponse:
    type: "object"
    properties:
      data:
        type: "string"
      type:
        $ref: "#/definitions/ResponseResponseType"
    example:
      data: "data"
      type: {}
  examplepbRepeatedResponseStrings:
    type: "object"
    properties:
      values:
        type: "array"
        items:
          type: "string"
  examplepbResponseBodyOut:
    type: "object"
    properties:
      response:
        $ref: "#/definitions/examplepbResponseBodyOutResponse"
  examplepbResponseBodyOutResponse:
    type: "object"
    properties:
      data:
        type: "string"
    example:
      data: "data"
  protobufAny:
    type: "object"
    properties:
      '@type':
        type: "string"
        description: "A URL/resource name that uniquely identifies the type of the\
          \ serialized\nprotocol buffer message. This string must contain at least\n\
          one \"/\" character. The last segment of the URL's path must represent\n\
          the fully qualified name of the type (as in\n`path/google.protobuf.Duration`).\
          \ The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\
          \nIn practice, teams usually precompile into the binary all types that they\n\
          expect it to use in the context of Any. However, for URLs which use the\n\
          scheme `http`, `https`, or no scheme, one can optionally set up a type\n\
          server that maps type URLs to message definitions as follows:\n\n* If no\
          \ scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must\
          \ yield a [google.protobuf.Type][]\n  value in binary format, or produce\
          \ an error.\n* Applications are allowed to cache lookup results based on\
          \ the\n  URL, or have them precompiled into a binary to avoid any\n  lookup.\
          \ Therefore, binary compatibility needs to be preserved\n  on changes to\
          \ types. (Use versioned type names to manage\n  breaking changes.)\n\nNote:\
          \ this functionality is not currently available in the official\nprotobuf\
          \ release, and it is not used for type URLs beginning with\ntype.googleapis.com.\n\
          \nSchemes other than `http`, `https` (or the empty scheme) might be\nused\
          \ with implementation specific semantics."
    description: "`Any` contains an arbitrary serialized protocol buffer message along\
      \ with a\nURL that describes the type of the serialized message.\n\nProtobuf\
      \ library provides support to pack/unpack Any values in the form\nof utility\
      \ functions or additional generated methods of the Any type.\n\nExample 1: Pack\
      \ and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n\
      \    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack\
      \ and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n\
      \    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n\
      \    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n\
      \    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n\
      \      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in\
      \ Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err\
      \ != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err\
      \ := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods\
      \ provided by protobuf library will by default use\n'type.googleapis.com/full.type.name'\
      \ as the type URL and the unpack\nmethods only use the fully qualified type\
      \ name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\"\
      \ will yield type\nname \"y.z\".\n\n\nJSON\n====\nThe JSON representation of\
      \ an `Any` value uses the regular\nrepresentation of the deserialized, embedded\
      \ message, with an\nadditional field `@type` which contains the type URL. Example:\n\
      \n    package google.profile;\n    message Person {\n      string first_name\
      \ = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\"\
      ,\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf\
      \ the embedded message type is well-known and has a custom JSON\nrepresentation,\
      \ that representation will be embedded adding a field\n`value` which holds the\
      \ custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\
      \n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n\
      \      \"value\": \"1.212s\"\n    }"
    example:
      '@type': "@type"
    additionalProperties: {}
  rpcStatus:
    type: "object"
    properties:
      code:
        type: "integer"
        format: "int32"
        description: "The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code]."
      message:
        type: "string"
        description: "A developer-facing error message, which should be in English.\
          \ Any\nuser-facing error message should be localized and sent in the\n[google.rpc.Status.details][google.rpc.Status.details]\
          \ field, or localized by the client."
      details:
        type: "array"
        description: "A list of messages that carry the error details.  There is a\
          \ common set of\nmessage types for APIs to use."
        items:
          $ref: "#/definitions/protobufAny"
    description: "The `Status` type defines a logical error model that is suitable\
      \ for\ndifferent programming environments, including REST APIs and RPC APIs.\
      \ It is\nused by [gRPC](https://github.com/grpc). Each `Status` message contains\n\
      three pieces of data: error code, error message, and error details.\n\nYou can\
      \ find out more about this error model and how to work with it in the\n[API\
      \ Design Guide](https://cloud.google.com/apis/design/errors)."
    example:
      code: 0
      details:
      - '@type': "@type"
      - '@type': "@type"
      message: "message"
  Stream result of examplepbResponseBodyOut:
    properties:
      result:
        $ref: "#/definitions/examplepbResponseBodyOutResponse"
      error:
        $ref: "#/definitions/rpcStatus"
    example:
      result:
        data: "data"
      error:
        code: 0
        details:
        - '@type': "@type"
        - '@type': "@type"
        message: "message"
